<div class="uploader">
  <div class="download-container">
    <div class="inner-container">
      <% if(!forbidden) { %>
      <div class="title">
        Hello, Download <%= item.fileName %> (<%= item.fileSize %>)
      </div>
      <div class="explanation">
        Your friend has just shared a file with you via rajio. If there is time or download limit, this file will be
        deleted once that is triggered.
      </div>
      <div class="url">
        <input id="urlBox" class="url-box" readonly="readonly" value="<%= domain %>/s/<%= item.downloadCode %>" />
        <div id="copyButton" class="copy-botton">Copy</div>
      </div>
      <img class="download" src="/static/img/download.svg"/>
      <a id="goBackButton" download="<%= item.fileName %>" href="<%= domain %>/d/<%= item.id %>/<%= item.fileName %>" class="go-back-button">Download</a>
      <% } %>
      <% if(forbidden) { %>
      <div class="title">
        Sorry, this link is not exist or expired.
      </div>
      <div class="explanation">
        Rajio will delete all the expired files once they go over the limit of time or download count, disappear from the world.
      </div>
      <img class="not-found" src="/static/img/404.svg"/>
      <% } %>
    </div>
  </div>
</div>